- provide(:title, @user.name)
.row
  .span8
    = render 'follow_form' if signed_in?
    - if @user.microposts.any?
      %h3
        Microposts (
        = @user.microposts.count
        )
      %ol.microposts
        = render @microposts
      = will_paginate @microposts
  %aside.span4.sidebar
    %section.sidebar__section
      %h1
        = gravatar_for @user
        = @user.name
    %section.sidebar__section
      = render 'shared/stats'
  
